In [17]:
import numpy as np
import pandas as pd

np.random.seed(123)

n_sample = 1000
class_0_ratio = 0.9
n_class_0 = int(n_sample * class_0_ratio)
n_class_1 = n_sample - n_class_0

In [18]:
n_class_0,n_class_1

(900, 100)

In [19]:
class_0 = pd.DataFrame({
    'feature_1' : np.random.normal(loc=0, scale=1, size=n_class_0),
    'feature_2' : np.random.normal(loc=0, scale=1, size=n_class_0),
    'target' : [0] * n_class_0
})

class_1 = pd.DataFrame({
    'feature_1' : np.random.normal(loc=0, scale=1, size=n_class_1),
    'feature_2' : np.random.normal(loc=0, scale=1, size=n_class_1),
    'target' : [1] * n_class_1
})

In [20]:
df = pd.concat([class_0, class_1]).reset_index(drop=True)

In [21]:
df.head()

   feature_1  feature_2  target
0  -1.085631   0.551302       0
1   0.997345   0.419589       0
2   0.282978   1.815652       0
3  -1.506295  -0.252750       0
4  -0.578600  -0.292004       0

In [22]:
df['target'].value_counts()

target
0    900
1    100
Name: count, dtype: int64

### Upscaling

In [23]:
df_minority = df[df['target']==1]
df_majority = df[df['target']==0]

In [24]:
from sklearn.utils import resample

df_minority_unsampled = resample(df_minority, replace=True,  # Sample with replacement
        n_samples=len(df_majority),
        random_state=42
        )

In [25]:
df_minority_unsampled.shape

(900, 3)

In [26]:
df_upsampled = pd.concat([df_majority,df_minority_unsampled])

In [27]:
df_upsampled['target'].value_counts()

target
0    900
1    900
Name: count, dtype: int64

### Down Sample

In [28]:
# down sampling
df_minority = df[df['target']==1]
df_majority = df[df['target']==0]

In [29]:
df_majority_downsampled = resample(df_majority, replace=True,  # Sample with replacement
        n_samples=len(df_minority),
        random_state=42
        )

In [30]:
df_majority_downsampled.shape

(100, 3)

In [31]:
df_downsampled = pd.concat([df_minority,df_majority_downsampled])

In [32]:
df_downsampled.target.value_counts()

target
1    100
0    100
Name: count, dtype: int64