#### SQL and SQLite3

SQL (Structured Query Language) is a standard language for managing and manipulating relational databases. SQLite is a self-contained, serverless, and zero-configuration database engine that is widely used for embedded database systems. In this lesson, we will cover the basics of SQL and SQLite, including creating databases, tables, and performing various SQL operations.

In [1]:
import sqlite3

In [2]:
## Connect to an SQLite database
connection = sqlite3.connect('example.db')
connection

In [3]:
cursor = connection.cursor()

In [5]:
## Create a Table
cursor.execute('''
create table if not exists employees(
    id integer primary key,
    name text not null,
    age integer,
    department text
)
''')

## Commit the changes
connection.commit()

In [7]:
cursor.execute('''
select * from employees
''')

In [8]:
## Insert the data into the table

cursor.execute('''
Insert into employees(name, age, department)
                values('Aditya',20,'Data Scientist')
''')


cursor.execute('''
Insert into employees(name, age, department)
                values('Saurabh',25,'Data Analyst')
''')

cursor.execute('''
Insert into employees(name, age, department)
                values('Sam',30,'AI engineer')
''')

# Commit the changes
connection.commit()

In [9]:
## Query the data from the table
cursor.execute('select * from employees')
rows = cursor.fetchall()

## Printing the queried data
for row in rows:
    print(row)

(1, 'Aditya', 20, 'Data Scientist')
(2, 'Saurabh', 25, 'Data Analyst')
(3, 'Sam', 30, 'AI engineer')

In [10]:
## Update data from the table
cursor.execute('''
update employees
set name = 'Mohan'
where id = 3
''')

connection.commit()

In [13]:
cursor.execute('select * from employees')
rows = cursor.fetchall()

for row in rows:
    print(row)

(1, 'Aditya', 20, 'Data Scientist')
(2, 'Saurabh', 25, 'Data Analyst')
(3, 'Mohan', 30, 'AI engineer')

In [14]:
## Delete the data from the table
cursor.execute('''
Delete from employees 
where age > 25
''')

connection.commit()

In [15]:
cursor.execute('select * from employees')
rows = cursor.fetchall()

for row in rows:
    print(row)

(1, 'Aditya', 20, 'Data Scientist')
(2, 'Saurabh', 25, 'Data Analyst')